a {
  text-decoration: none;
}
.clear {
  clear: both;
}
h1 {
  text-shadow: -1px -1px 0 #333333;
}
.ui-dialog .ui-header .ui-btn-left {
  left: auto;
  right: 10dppx;
}
.error {
  color: #c00;
}
#portal_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#portal_ul li {
  text-align: center;
  display: inline-block;
  margin: 0 0.5em;
}
#xunjian li {
  margin-top: 5px;
}
#xunjian li .l1 {
  opacity: 0.5;
  font-size: 0.8em;
}
#xunjian li .l1 .l {
  float: left;
}
#xunjian li .l1 .r {
  float: right;
}
#xunjian li .l2 {
  padding-top: 0.5em;
}
#xunjian li .l2 .d1 {
  font-style: italic;
}
#xunjian li .l2 .d1,
#xunjian li .l2 .d2 {
  float: left;
  margin-right: 0.5em;
  font-size: 1.2em;
}
#xunjian li .l2 .d3 {
  float: right;
  font-size: 1em;
}
#cunjianren .l,
#cunjianren_ul .l {
  float: left;
}
#cunjianren .r,
#cunjianren_ul .r {
  float: right;
}
#cunjianren_ul li {
  margin-top: 3px;
}
#cunjianren_ul div.l {
  line-height: 40px;
}
#cunjianren_ul a.i {
  vertical-align: top;
  margin-top: 6px;
  margin-left: 0.5em;
}
#cunjianren_ul .ui-slider-label-a {
  color: #c00;
  font-size: 16px;
}
#cunjianren_ul .ui-slider-label-b {
  color: #015346;
}
#upgrade_div li {
  margin-top: 4px;
}
#upload_data li {
  margin-top: 4px;
}
#xunjian_total li {
  margin-top: 4px;
}
#xunjian_total .l {
  float: left;
  line-height: 40px;
}
#xunjian_total .r {
  float: right;
}
/*jmobile 是 18 36*/
.fullWidth {
  width: 100%;
}
table.xunjian td {
  font-size: 14dppx;
}
table.xunjian td.t {
  font-size: 16dppx;
}
#footer {
  text-align: center;
  bottom: 0;
  padding: .5em;
  font-weight: 500;
  color: #666666;
  font-size: 14dppx;
}
/*hack mobile*/
/*.ui-bar-a {
	background-color:#004038;
	//.line_gradient(top,rgba(255,255,255,0),rgba(255,255,255,0) 50%)
	.line_gradient(top,#004038,rgba(0,0,0,0.6));
}*/
.gtb th {
  font-size: 14dppx;
}
.gtb td {
  font-size: 16dppx;
}
.gtb .ui-table-cell-label {
  font-size: 14dppx;
  text-align: right;
  min-width: auto;
}
.gtb tbody tr:nth-child(odd) {
  background-color: #ddd;
}
@media (min-width: 400dppx) {
  .gtb tbody th,
  .gtb tbody td {
    display: table-cell;
    margin: 0;
  }
  .ui-table-cell-label {
    display: none !important;
  }
  .ui-table-reflow thead th {
    display: table-cell;
  }
}
@media (max-width: 400dppx) {
  .gtb th,
  .gtb td {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: left;
  }
  .ui-table-cell-label {
    display: inline-block !important;
  }
  .ui-table-reflow thead th {
    display: none ;
  }
}
/*p02*/
ul.pList {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.pList li {
  margin: 0;
  padding: 0;
}
ul.pList li .fl {
  float: left;
  line-height: 40px;
}
ul.pList li .fr {
  float: right;
}
ul.pList li .fr .camera {
  margin-left: 10px;
}
ul.pList li .desc {
  clear: both;
}
ul.pList li .photos {
  clear: both;
}
/*.camera {
	width:36px;
	height:36px;
	display: inline-block;
	background: url(img/camera.png) center center no-repeat;
	text-indent: -9999px;
}*/
