div(data-role="dialog",id="desc-dialog")
		div(data-role="header",class="ui-btn-right",data-theme="y") 
			h1 备注
		div(data-role="content") 
			div 2013-05-15 20:34
			textarea(style="height:8em")
			div(data-role="button",data-inline="true",onclick="$('.ui-dialog').dialog('close');save_desc()") 保存