!!! 5
html(lang='zh-CN')
	head
		include head
	body#page_p01-1
		div(data-role="page")
			div(data-role="header",data-position="fixed")
				a(data-role="button",data-icon="arrow-l",data-iconpos="left",href="p01.html") 返回
				h1 机房设备巡检单
				a(data-role="button",data-icon="star",data-iconpos="right",href="#1",onclick="save_xunjian()") 保存
			div(data-role="content",id="main_content")
				
				div#cunjianren
					div.l 巡检人 2013-05-15
					div.r 
						input(type="checkbox",id="searchFilter",name="searchFilter",data-mini="true",data-theme="c")
						label(for="searchFilter",data-theme="c") 仅显示异常
				div.filter(data-role="fieldcontain") 
					input(type="search",data-mini="true")

				h3 ERP应用服务器
				ul#cunjianren_ul(data-role="listview")
					-for(i=1;i<5;i++){
					li
						div.l 服务状态
						div.r
							div.s
							select(data-role="slider",data-theme="b",data-mini="true")
								option 正常
								option 异常
							a.i(data-role="button",data-mini="true",data-inline="true",data-icon="flat-new",,data-theme="b",data-iconpos="notext",href="desc.html",data-rel="dialog",data-transition="none") 备注
							a.i(data-role="button",data-mini="true",data-inline="true",data-icon="flat-camera",data-theme="b",data-iconpos="notext") 拍照 
						div.clear

						
					-}







