include head
body#page_p01
	div(data-role="page")
		div(data-role="header",data-position="fixed")
			a(data-role="button",data-icon="arrow-l",data-iconpos="left",href="portal.html") 返回
			h1 今日巡检
		div(data-role="content")
			
			ul#xunjian(data-role="listview",data-theme="y")
				-for(i=1;i<5;i++){
				li
					a(href="p01-1.html")
						div.l1
							div.l 编号：20130515-#{i}
							div.r 巡检人：张安
						div.l2.clear
							div.d1 10:00
							div.d2 灾备中心机房
							div.d3 已完成
				-}
				li.pending(data-theme="d")
					a(href="p01-1.html")
						div.l1
							div.l 编号：20130515-#{i}
							div.r 巡检人：张安
						div.l2.clear
							div.d1 10:00
							div.d2 灾备中心机房
							div.d3 未进行