include head
body#page_p01
	div(data-role="page")
		div(data-role="header",data-position="fixed")
			a(data-role="button",data-icon="arrow-l",data-iconpos="left",href="portal.html") 返回
			h1 今日巡检
		div(data-role="content")
			
			ul(data-role="listview")
				-for(i=1;i<5;i++){
				li 
					a(href="p01-1.html")
						div(style='font-size:0.9em;color:#666;')
							div(class="fleft") 编号：20130515-#{i}
							div(class="fright") 巡检人：张安
							div(class="clear")
						div(style="margin-top:1em;")
							div(class="fleft") 10:00
							div(class="fleft mleft1") 灾备中心机房
							div(class="fleft mleft1 error") 未进行
				-}
		