!!! 5
html(lang='zh-CN')
	head
		include head
	body
		div(data-role="page")
			div(data-role="header",data-position="fixed")
				a(data-role="button",data-icon="arrow-l",data-iconpos="left",href="portal.html") 返回
				h1 机房设备巡检单
			div(data-role="content",id="main_content")
				
				div.ui-grid-b
					.ui-block-a
						select(data-mini="true")
							option 全部
							option 仅显示异常
							option 仅显示正常
					.ui-block-b
						select(data-mini="true")
							option 张三
							option 里斯
							option 王五

					.ui-block-c
						select(data-mini="true")
							option 3天
							option 一周
							option 两周
							option 一个月

				h3 ERP应用服务器
				ul#xunjian_total(data-role="listview")
					-for(i=1;i<5;i++){
					li
						div.l 服务状态 #{i}
						div.r 
							strong 正常
							a(data-role="button",data-mini="true",data-inline="true",data-icon="info",data-iconpos="notext",href="desc.html",data-rel="dialog",data-transition="none") 备注
							a(data-role="button",data-mini="true",data-inline="true",data-icon="star",data-iconpos="notext") 拍照 
						div.clear
					-}
					li(data-theme="d")
						div.l 服务状态 #{i}
						div.r 
							strong 异常
							a(data-role="button",data-mini="true",data-inline="true",data-icon="info",data-iconpos="notext",href="desc.html",data-rel="dialog",data-transition="none") 备注
							a(data-role="button",data-mini="true",data-inline="true",data-icon="star",data-iconpos="notext") 拍照 
						div.clear






