include head
body#page_p06
	div(data-role="page")
		div(data-role="header",data-position="fixed")
			a(data-role="button",data-icon="arrow-l",data-iconpos="left",href="portal.html") 返回
			h1 系统帮助
		div(data-role="content")
			
		
			-for(i=1;i<5;i++){
			div(data-role="collapsible")
				h3 玫瑰和月季的区别
				p 玫瑰 英文 rose ；月季 英文 chinese rose,我的理解是：圣女果和西红柿，狼和狗的区别。小资们要郁闷了。<br /><br />月季(种：月季 R. chinensis)、玫瑰（玫瑰 R. rugosa）和蔷薇 是同 蔷薇科 蔷薇属 的姊妹花。（界 门 纲 目 科 属 种，还记得吗？）蔷薇 － 一種蔓藤爬籬笆的小花
				
			-}
	